@page "{id:int}"
@model NewsPage.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Haber Düzenle";
}

<h2>Haber Düzenle</h2>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Haber.Id" />

    <div class="mb-3">
        <label>Başlık</label>
        <input asp-for="Haber.Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Özet</label>
        <textarea asp-for="Haber.Summary" id="summary" class="form-control"></textarea>
    </div>

    <div class="form-check mb-3">
        <input asp-for="Haber.IsPublish" class="form-check-input" />
        <label class="form-check-label" asp-for="Haber.IsPublish">Yayında mı?</label>
    </div>

    <button type="submit" class="shadow__btn">Kaydet</button>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#summary').summernote({
                height: 200
            });
        });
    </script>
}
<style>
    .shadow__btn {
        padding: 5px 12px;
        border: none;
        font-size: 14px;
        color: #fff;
        border-radius: 7px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        background: rgb(47, 170, 150);
        box-shadow: 0 0 25px rgb(47, 170, 150);
        transition: 0.5s;
        transition-property: box-shadow;
        display: inline-block;
    }

        .shadow__btn:hover {
            box-shadow: 0 0 5px rgb(47, 170, 150), 0 0 25px rgb(47, 170, 150), 0 0 50px rgb(47, 170, 150), 0 0 100px rgb(47, 170, 150);
        }
</style>
