@page
@model NewsPage.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Haberler";
}

<h2>Haberler</h2>

<div class="d-flex justify-content-end mb-3">
    <button type="button" onclick="Direction()" class="btn btn-primary btn-sm">Yeni Haber Ekle</button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Özet</th>
            <th>Yayın Durumu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var haber in Model.Haberler)
        {
            <tr>
                <td>@haber.Title</td>
                <td>@haber.Summary</td>
                <td>
                    @if (haber.IsPublish)
                    {
                        <span class="badge bg-success">Yayınlandı</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Yayınlanmadı</span>
                    }
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <a href="/Admin/Edit/@haber.Id" class="btn btn-dark btn-sm">Düzenle</a>

                        @if (!haber.IsPublish)
                        {
                            <form method="post" asp-page-handler="Publish" asp-route-id="@haber.Id" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Yayınla</button>
                            </form>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function Direction() {
            location.href = "/Admin/Create";
        }
    </script>
}

<style>
    .shadow__btn {
        padding: 5px 12px;
        border: none;
        font-size: 14px;
        color: #fff;
        border-radius: 7px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        background: rgb(47, 170, 150);
        box-shadow: 0 0 25px rgb(47, 170, 150);
        transition: 0.5s;
        transition-property: box-shadow;
        display: inline-block;
    }

        .shadow__btn:hover {
            box-shadow: 0 0 5px rgb(47, 170, 150), 0 0 25px rgb(47, 170, 150), 0 0 50px rgb(47, 170, 150), 0 0 100px rgb(47, 170, 150);
        }
</style>
